header{
    height: 100%;
    max-width: 1500px;
}
.home{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 280px);
    max-width: 100%;
    padding: 0 10px 50px 10px;
}
.home__presentation{
    width: 50%;
}
@media screen and (max-width: 1080px){
    .home{
        justify-content: center;
    }
    .home__presentation{
        width: 100%;
    }
}

.presentation__init{
    font-size: 2rem;
}
.presentation__info{
    width: 100%;
}
hr{
    margin: 40px 0;
    height: 2px;
    background-color: var(--celeste);
    box-shadow: 0 0 15px var(--cyan);
}
.home__image{
    max-width: 100%;
    filter: drop-shadow(0px 0 25px var(--azul))
}

/* Settings button */
.crtButton{
    position:fixed;
    z-index: 2;
    top: 20px;
    right: 20px;
    background-color: var(--fucsia);
    height: 60px;
    width: 100px;
    clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
}
.crtButton:hover{
    background-color: var(--celeste);
}

.crtButton img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding-left: 8px;
}