footer{
    width: 100%;
    height: 100%;
    max-width: 1500px;
}
footer:hover .footerContacts{
    filter: drop-shadow(0px 0 5px var(--celeste));
}

/* Footer Contacts */
.footerContacts{
    height: 150px;
    width: 100%;
    position: relative;
    filter: drop-shadow(0px 0 5px var(--rosa));
}
.footerContacts__button{
    height: 100%;
    width: 53%;
    display: inline-block;
    position: absolute;
    background-color: var(--fucsia);
}
.footerContacts__button:hover{
    background-color: var(--celeste);
}
.footerContacts__button a{
    display: flex;
    justify-content: center;
}
.footerContacts__button a img{
    height: 100px;
    width: 100px;
}

.githubButton{
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    left: 0;
}
.githubButton a img{
    margin-right: 50px;
}
.linkedinButton{
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    left: 47%;
}
.linkedinButton a img{
    margin-left: 50px;
}

/* Footer Info */
.footerInfo{
    text-align: center;
}
.footerInfo p{
    margin: 30px 0;
}

@media screen and (max-width: 500px){
    .githubButton a img,
    .linkedinButton a img{
        margin: 0;
    }
}